<nz-select
  class="w-full"
  [nzMaxTagCount]="20"
  [nzMaxTagPlaceholder]="tagPlaceHolder"
  nzMode="multiple"
  nzPlaceHolder="Filter Teams"
  [(ngModel)]="selectedTeams"
  (ngModelChange)="onChange($event)"
  [nzMaxTagCount]="2"
>
  <nz-option
    *ngFor="let team of Teams"
    [nzLabel]="team"
    [nzValue]="team"
    nzCustomContent
  >
    <span class="flex justify-between">
      <span>{{ team }}</span>
      <img src="{{ getIcon(team) }}" class="w-6 h-6" alt="" />
    </span>
  </nz-option>
</nz-select>
<ng-template #nzCustomContent>
  <i nz-icon nzType="loading" class="loading-icon"></i>
</ng-template>
<ng-template #tagPlaceHolder let-selectedTeams
  >and {{ selectedTeams.length }} more selected</ng-template
>
