<div
  class="flex flex-col justify-center items-center w-full p-16 rounded-xl gap-6 bg-bg dark:bg-bg-dark shadow-lg"
>
  <div class="text-3xl">Dashboard</div>

  <img
    src="../../assets/dashboard_1.gif"
    alt="Dashboard gif"
    class="h-64 w-auto rounded-xl shadow-lg"
  />

  <div class="text-xl w-96 text-center">
    A look at FPL players stats over the current Premier League season. Includes
    many per 90 metrics in npxG, xA, BPS, Points. Updated daily.
  </div>

  <button
    nz-button
    nzType="primary"
    routerLink="/visual"
    routerLinkActive="active"
  >
    Show me!
  </button>
</div>
