<div class="flex flex-col gap-4 justify-center items-center w-full">
  <div
    class="w-full flex flex-col lg:flex-row gap-2 justify-center items-center lg:pl-20"
  >
    <div class="selectX w-48">
      <nz-select
        class="w-48"
        [(ngModel)]="selectedXAxis"
        (ngModelChange)="updateXAxis($event)"
        [nzDropdownMatchSelectWidth]="false"
        [nzShowSearch]="true"
      >
        <nz-option
          *ngFor="let axis of possibleAxis"
          [nzLabel]="axis['viewValue']"
          [nzValue]="axis['value']"
        ></nz-option>
      </nz-select>
    </div>
    <div
      class="selectY flex-col justify-center items-center lg:flex lg:flex-row lg:justify-between lg:w-full lg:pr-20"
    >
      <nz-select
        class="w-48"
        [(ngModel)]="selectedYAxis"
        (ngModelChange)="updateYAxis($event)"
        [nzDropdownMatchSelectWidth]="false"
        [nzShowSearch]="true"
      >
        <nz-option
          *ngFor="let axis of possibleAxis"
          [nzLabel]="axis['viewValue']"
          [nzValue]="axis['value']"
        ></nz-option>
      </nz-select>
    </div>
    <div
      class="flex-col justify-center items-center lg:flex lg:flex-row lg:justify-end lg:w-full lg:pr-20"
    >
      <div class="pr-6 flex justify-center items-center">
        <small class="pt-2">Regression</small>
        <div
          class="pt-2 pl-2"
          nz-checkbox
          [(ngModel)]="regression"
          (ngModelChange)="loadChartOptions()"
        ></div>
      </div>
      <div class="flex justify-center items-center">
        <div class="pt-2">
          <small *ngIf="graphMode">Graph</small>
          <small *ngIf="!graphMode">Table</small>
          <nz-switch
            class="pl-2"
            [(ngModel)]="graphMode"
            [nzCheckedChildren]="checkedTemplate"
            [nzUnCheckedChildren]="unCheckedTemplate"
          ></nz-switch>
        </div>
      </div>
      <ng-template #checkedTemplate
        ><span nz-icon nzType="dot-chart" nzTheme="outline" class="pb-4"></span
      ></ng-template>
      <ng-template #unCheckedTemplate
        ><span nz-icon nzType="table" nzTheme="outline"></span
      ></ng-template>
    </div>

    <!-- <div class="scaleAxes flex justify-center items-center">
        <div class="pt-2">
          <small>Scale Axes</small>
          <nz-switch
            class="pl-2"
            [(ngModel)]="normAxis"
            (ngModelChange)="loadChartOptions()"
          ></nz-switch>
        </div>
      </div> -->
  </div>

  <nz-divider
    class="min-w-max border-dash dark:border-dash-dark m-0 mt-2"
    nzDashed
  >
  </nz-divider>

  <div
    class="chart justify-center items-center w-full"
    *ngIf="(loadingRaw$ | async) || loading"
  >
    <div class="flex justify-center items-center h-full">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
  </div>

  <div class="chart" *ngIf="!(loadingRaw$ | async) && !loading">
    <div *ngIf="graphMode">
      <div
        echarts
        [options]="chartOption"
        [theme]="getChartTheme()"
        [loading]="loading"
        class="chart p-2 md:p-0"
        (chartClick)="onChartEvent($event, 'chartClick')"
      ></div>
    </div>

    <div *ngIf="!graphMode">
      <nz-table
        #filterTable
        [nzData]="playersF"
        [nzLoading]="loadingRaw$ | async"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Position</th>
            <th
              [nzSortOrder]="'descend'"
              [nzSortFn]="getSortFnX()"
              [nzSortPriority]="0"
            >
              {{ getAxisTitle(selectedXAxis) }}
            </th>
            <th
              [nzSortOrder]="'descend'"
              [nzSortFn]="getSortFnY()"
              [nzSortPriority]="1"
            >
              {{ getAxisTitle(selectedYAxis) }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of filterTable.data">
            <td>{{ data.name }}</td>
            <td>
              <img src="{{ getIcon(data.team) }}" class="w-6 h-6" alt="" />
            </td>
            <td>{{ data.position }}</td>
            <td>
              {{ data[selectedXAxis] | number : getPipeString(selectedXAxis) }}
            </td>
            <td>
              {{ data[selectedYAxis] | number : getPipeString(selectedYAxis) }}
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
