<div
  *ngIf="!(loadingRaw$ | async) && (playersF$ | async); else loading"
  class="flex flex-col xl:flex-row p-8 xl:p-8 container gap-8 justify-center items-center xl:items-baseline rounded-lg"
>
  <div
    *ngIf="showSidePanel"
    class="w-96 flex flex-col justify-center align-middle text-center gap-4 p-8 rounded-lg shadow-lg bg-bg dark:bg-bg-dark"
  >
    <div class="w-full">
      <app-year-select></app-year-select>
    </div>
    <nz-divider
      class="min-w-max border-dash dark:border-dash-dark m-0"
      nzDashed
    ></nz-divider>
    <div>
      Price
      <app-price-slider></app-price-slider>
    </div>
    <div>
      Ownership %
      <app-tsb-slider></app-tsb-slider>
    </div>
    <div>
      <app-position-select></app-position-select>
    </div>
    <div>
      <app-team-select></app-team-select>
    </div>
    <div class="mt-1">
      <div>
        Min. Minutes Played: <b>{{ (filter$ | async)?.min_minutes }}</b>
      </div>
      <app-min-minutes></app-min-minutes>
    </div>
    <div>
      Gameweeks
      <app-gameweek-slider></app-gameweek-slider>
    </div>
    <div>
      Highlight
      <app-player-search></app-player-search>
    </div>
    <div>
      Exclude
      <app-player-exclude></app-player-exclude>
    </div>

    <div class="flex flex-col gap-6 pt-1">
      <nz-row [nzGutter]="14" class="py-0 my-0">
        <nz-col [nzSpan]="12">
          <nz-statistic
            [nzValue]="(players$ | async)?.length"
            [nzTitle]="'Total players'"
          >
          </nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="12">
          <nz-statistic
            [nzValue]="(playersF$ | async)?.length"
            [nzTitle]="'Filtered players'"
          >
          </nz-statistic>
        </nz-col>
      </nz-row>
      <app-reset-button></app-reset-button>
    </div>
  </div>

  <div class="shadow-lg bg-bg dark:bg-bg-dark rounded-xl p-8">
    <app-graph
      [playersF$]="playersF$"
      [playersGW$]="playersGW$"
      [expandScreen]="false"
      (expandScreenChanged)="handleScreenExpandedChanged($event)"
    >
    </app-graph>
  </div>
</div>

<ng-template #loading>
  <!-- Content to show when loadingRaw$ is true -->
  <div class="flex justify-center items-center h-96">
    <div class="flex flex-col items-center">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
  </div>
</ng-template>
