<div
  *ngIf="!(loadingRaw$ | async); else loading"
  class="flex flex-col lg:flex-row p-8 lg:p-8 container gap-8 justify-center items-center lg:items-baseline rounded-lg"
>
  <div
    *ngIf="(playersF$ | async) && showSidePanel"
    class="w-96 flex flex-col justify-center align-middle text-center gap-6 p-8 rounded-lg shadow-lg bg-bg dark:bg-bg-dark"
  >
    <div class="w-full">
      <app-year-select></app-year-select>
    </div>
    <nz-divider
      class="min-w-max border-dash dark:border-dash-dark m-0"
      nzDashed
    ></nz-divider>
    <div>
      <div>Min. Minutes Played {{ (filter$ | async)?.min_minutes }}</div>
      <app-min-minutes></app-min-minutes>
    </div>
    <div>
      Price
      <app-price-slider></app-price-slider>
    </div>
    <div>
      Ownership %
      <app-tsb-slider></app-tsb-slider>
    </div>
    <div>
      <app-position-select></app-position-select>
    </div>
    <div>
      <app-team-select></app-team-select>
    </div>
    <div>
      Gameweeks
      <app-gameweek-slider></app-gameweek-slider>
    </div>
    <div>
      Highlight
      <app-player-search></app-player-search>
    </div>
    <div>
      Exclude
      <app-player-exclude></app-player-exclude>
    </div>
  </div>

  <div
    *ngIf="playersF$ | async"
    class="shadow-lg bg-bg dark:bg-bg-dark rounded-xl p-8"
  >
    <app-graph
      [playersF$]="playersF$"
      [playersGW$]="playersGW$"
      [expandScreen]="false"
      (expandScreenChanged)="handleScreenExpandedChanged($event)"
    >
    </app-graph>
  </div>
</div>

<ng-template #loading>
  <!-- Content to show when loadingRaw$ is true -->
  <div class="flex justify-center items-center h-96">
    <div class="flex flex-col items-center">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
  </div>
</ng-template>
